* {
    box-sizing: border-box;
}

img {
    display: block;
    max-inline-size: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper {
   max-inline-size: 1000px;
   margin-inline: auto;
}

.two-column {
    display: grid;
    gap: 100px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.two-column div img {
   
}


.primary-nav ul {
    display: flex;
    gap:15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-nav ul a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.primary-nav a:hover, .primary-nav a:focus-visible {
    color: #5f9b9f;
}

body {
    background-color: rgb(214, 206, 214);
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header img {
    margin: 0;
}

h1 {
    color: #224a63;
    font-size: 4rem;
    text-align: center;
    line-height: 1.1;

    @media (width < 720px) {
        font-size: 2rem;
    }
    @media (width > 1000px) {
        font-size: 6rem;
    }
}

h2 {
    color: teal;
    font-size: 2rem;
}

h3 {
    margin-top: 0;
}

p {
    margin-block: 15px;
}

a {
    color: green;
}
a:visited {
    color: rgb(52, 190, 52);
}

a:hover, a:focus-visible {
    color: greenyellow;
}

a:active {
    color: rgb(49, 80, 63);
}

.teal-bg {
    border: 5px #325e7a solid;
    background-color: teal;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-block: 20px;
}

.teal-text {
    color: teal;
}

.climber-bg {
    color: aliceblue;
    padding: 8px;
    border: #325e7a solid 5px;
    background-image: url("../images/simple-steps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
    list-style: circle ;

}

footer {
    text-align: center;
    margin-top: 50px;
}